@model IEnumerable<domain.Entities.conge>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_template.cshtml";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Send mail", "MailConge")
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDeb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.verif)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDeb)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.verif)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.titre)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
           
        </td>
    </tr>
}

</table>
