@model domain.Entities.insurance_offer

@{
    ViewBag.Title = "Edit";

    Layout = "~/Views/Shared/_template.cshtml";
}



@*Backoffice Insurance Offer Crud /Edit*@


<section class="navs">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">
                    <span><i class="fa fa-stethoscope"></i></span>
                    TTMA Management: Home
                </a>
            </div>
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Authentification", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    //  @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "")
                        </li>
                        <li>@Html.ActionLink("Logout", "Login", "Authentification", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Authentification", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Authentification", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">



                    <li>@Html.ActionLink("Home", "IndexBack", "Home")</li>
                    <li>@Html.ActionLink("Staff", "IndexBack", "Staff")</li>
                    <li>@Html.ActionLink("Doctors", "IndexBack", "Doctor")</li>
                    <li>@Html.ActionLink("Consultations", "IndexBack", "Consultation")</li>
                    <li>@Html.ActionLink("Offers", "IndexBack", "Offer")</li>
                    <li>@Html.ActionLink("Events", "Index", "Event")</li>
                    <li>@Html.ActionLink("Leave", "IndexBack", "conge")</li>
                    <li>@Html.ActionLink("Time Table", "IndexBack", "Timetable")</li>
                    <li>@Html.ActionLink("Hotels", "IndexBack", "Hotel")</li>
                    <li>@Html.ActionLink("Insurance", "Indexbackoffice", "InsuranceOffer")</li>

                </ul>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Transport<b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li>@Html.ActionLink("Transport", "IndexBack", "TransportCompagnie")</li>
                        <li> @Html.ActionLink("Demande tr", "IndexBack", "Demande")</li>


                    </ul>
                </li>

                <li>@Html.ActionLink("Front Home", "Create", "Conge")</li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>

@section cont{
    <section class="blog-content">
        <div class="container">
            <div class="row">

                <h2>Edit</h2>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>insurance_offer</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.id_insurance, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.id_insurance, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.id_insurance, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.description, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.insurer_id_user, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.insurer_id_user, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.insurer_id_user, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }

                <div>
                    @Html.ActionLink("Back to List", "Edit", new { id = Model.id_insurance })
                </div>







            </div>  <!-- end of row -->
        </div>  <!-- end of container -->
    </section>

}
<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copy-right-text text-center">
                    &copy; Copyright 2015
                </div>
            </div>
        </div>
    </div>
</section>


