@model IEnumerable<domain.Entities.insurance_offer>

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_template.cshtml";
}


<section class="navs">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">
                    <span><i class="fa fa-stethoscope"></i></span>
                    T.T.M.A
                </a>
            </div>
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Authentification", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    //  @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "")
                        </li>
                        <li>@Html.ActionLink("Logout", "Login", "Authentification", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Authentification", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Authentification", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Medical cares <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Our doctors", "Index", "Doctor")</li>
                            <li> @Html.ActionLink("Online Consultation", "Create", "Consultation")</li>
                            <li>@Html.ActionLink("Quiz", "Quizz", "Quizz")</li>

                        </ul>
                    </li>

                    <li>@Html.ActionLink("Offers", "Index", "Offer")</li>
                    <li>@Html.ActionLink("Insurance", "Index", "InsuranceOffer")</li>

                    <li>@Html.ActionLink("Events", "Indexfront", "Event")</li>
                    <li>@Html.ActionLink("Blog", "Blog", "Blog")</li>


                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Transport<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Trasport compagnies", "Index", "TransportCompagnie")</li>
                            <li> @Html.ActionLink("Get location", "Index", "Demande")</li>


                        </ul>
                    </li>
                    <li>@Html.ActionLink("Hotels", "Index", "Hotel")</li>

                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>

                    <li>@Html.ActionLink("Abous Us", "Index", "About")</li>



                </ul>
            </div><!-- navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>

<section id="starting">
    <div class="starting-wrapper">
        <div class="container">
            <div class="row">
                <div class="team-button">
                    <div class="col-md-12">
                        <h1 class="main-title wow animated fadeInLeft">Our Insurance offers Offers</h1>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
@*ee*@


   
        <section class="listings">
            <div class="wrapper">
                <ul class="properties_list">
                    @foreach (var item in Model)
            {
                        <li>
                            <button> @Html.ActionLink("Details", "Details", new { id = item.id_insurance })</button>


                            <a href="#">
                                <!-- <img src="@Url.Content("~/Content/template/")img/property_1.jpg" alt="" title="" class="property_img" />-->
                                <img src="@Url.Content("~/Content/template/")@Html.DisplayFor(modelItem => item.image)" alt="" title="" class="property_img" />

                            </a>

                            <span class="price">$@Html.DisplayFor(modelItem => item.price)</span>
                            <div class="property_details">
                                <h1>
                                    <a href="#">@Html.DisplayFor(modelItem => item.description)</a>
                                </h1>

                                <h2>The best insurance to assure your life  <span class="property_size"></span></h2>
                            </div>
                            <div class="rating">
                                <input type="radio" id="star5" name="item.Rating" value="5" />@Html.EditorFor(modelitem => item.Rating)<label class="full" for="star5" title="Awesome - 5 stars"> </label>
                                <input type="radio" id="star4half" name="item.Rating" value="4 and a half" />@Html.EditorFor(modelitem => item.Rating)<label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                                <input type="radio" id="star4" name="item.Rating" value="4" />@Html.EditorFor(modelitem => item.Rating)<label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                <input type="radio" id="star3half" name="item.Rating" value="3 and a half" />@Html.EditorFor(modelitem => item.Rating)<label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                                <input type="radio" id="star3" name="item.Rating" value="3" />@Html.EditorFor(modelitem => item.Rating)<label class="full" for="star3" title="Meh - 3 stars"></label>
                                <input type="radio" id="star2half" name="item.Rating" value="2 and a half" />@Html.EditorFor(modelitem => item.Rating)<label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                                <input type="radio" id="star2" name="item.Rating" value="2" />@Html.EditorFor(modelitem => item.Rating)<label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                <input type="radio" id="star1half" name="item.Rating" value="1 and a half" />@Html.EditorFor(modelitem => item.Rating)<label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                                <input type="radio" id="star1" name="item.Rating" value="1" />@Html.EditorFor(modelitem => item.Rating)<label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                <input type="radio" id="starhalf" name="item.Rating" value="half" />@Html.EditorFor(modelitem => item.Rating)<label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                            </div>
                        </li>


                    }

                </ul>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Facebook" class="btn btn-default" />
                    </div>
                    <div id="fb-root"></div>
                    <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
                </div>
            </div>

            <div class="fb-comments" data-href="http://localhost:53656/InsuranceOffer/Index" data-width="500" data-numposts="90"></div>

            <div class="more_listing">
                <a href="#" class="more_listing_btn">View More Listings</a>
            </div>

        </section>



<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copy-right-text text-center">
                    &copy; TTMA Copyright 2015
                </div>
            </div>
        </div>
    </div>
</section>
