<section class="navs">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">
                    <span><i class="fa fa-stethoscope"></i></span>
                    TTMA Management:Offers
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li>@Html.ActionLink("Home", "IndexBack", "Home")</li>
                    <li>@Html.ActionLink("Staff", "IndexBack", "Staff")</li>
                    <li>@Html.ActionLink("Doctors", "IndexBack", "Doctor")</li>
                    <li>@Html.ActionLink("Consultations", "IndexBack", "Consultation")</li>
                    <li>@Html.ActionLink("Offers", "IndexBack", "Offer")</li>
                    <li>@Html.ActionLink("Events", "IndexBack", "Event")</li>
                    <li>@Html.ActionLink("Leave", "IndexBack", "conge")</li>
                    <li>@Html.ActionLink("Time Table", "IndexBack", "Timetable")</li>
                    <li>@Html.ActionLink("Hotels", "IndexBack", "Hotel")</li>
                    <li>@Html.ActionLink("Insurance", "IndexBack", "Insurance")</li>
                    <li>@Html.ActionLink("Logout", "IndexBack", "Logout")</li>
                </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>
<section id="job">
    <div class="job-wrapper" style="
    height: 802px;
">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    @{
                        ViewBag.Title = "Statistiques";
                        Layout = "~/Views/Shared/_template.cshtml";
                    }

                    <h2>Statistiques of offers</h2>

                    @{
                        var myChart = new Chart(width: 900, height: 600)
                            .AddTitle("statistics of our Offers")
                            .AddSeries(
                                name: "Employee",
                                xValue: new[] { "Face Surgery", "breast Surgery", "Surgery teeth", "Surgery plastic", "intimate Surgery", "gastric Ban" },
                                yValues: new[] { @ViewBag.nbface, @ViewBag.nbbreast, @ViewBag.nbteeth, @ViewBag.nbplas, @ViewBag.nbins, @ViewBag.nbgb })
                            .Write();

                    }
                    @*fin code*@
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="block-image background-scale">
                        <p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p><p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<section id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copy-right-text text-center">
                    &copy; TTMA Copyright 2015
                </div>
            </div>
        </div>
    </div>
</section>