@using Web.Models
@model IEnumerable<Web.Models.HotelViewModel>
@using Jmelosegui.Mvc.GoogleMap



@using System.Drawing



@{
    ViewBag.Title = "Hotels dispertion with grade";
    Layout = "~/Views/Shared/databidroom.cshtml";
}


<section class="navs">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#">
                    <span><i class="fa fa-stethoscope"></i></span>
                    T.T.M.A
                </a>
            </div>
            @using Microsoft.AspNet.Identity
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("Logout", "Authentification", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    //  @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "")
                        </li>
                        <li>@Html.ActionLink("Logout", "Login", "Authentification", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                }
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "Authentification", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Log in", "Login", "Authentification", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            }
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>

                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Medical cares <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Our doctors", "Index", "Doctor")</li>
                            <li> @Html.ActionLink("Online Consultation", "Create", "Consultation")</li>
                            <li>@Html.ActionLink("Quiz", "Quizz", "Quizz")</li>

                        </ul>
                    </li>

                    <li>@Html.ActionLink("Offers", "Index", "Offer")</li>
                    <li>@Html.ActionLink("Insurance", "Index", "InsuranceOffer")</li>

                    <li>@Html.ActionLink("Events", "Indexfront", "Event")</li>
                    <li>@Html.ActionLink("Blog", "Blog", "Blog")</li>


                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Transport<b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>@Html.ActionLink("Trasport compagnies", "Index", "TransportCompagnie")</li>
                            <li> @Html.ActionLink("Get location", "Index", "Demande")</li>


                        </ul>
                    </li>
                    <li>@Html.ActionLink("Hotels", "IndexFront", "Hotel")</li>

                    <li>@Html.ActionLink("Contact", "Index", "Contact")</li>

                    <li>@Html.ActionLink("Abous Us", "Index", "About")</li>



                </ul>
            </div><!-- navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</section>
<section id="starting">
    <div class="starting-wrapper">
        <div class="container">
            <div class="row">
                <div class="team-button">
                    <div class="col-md-12">
                        <h1 class="main-title wow animated fadeInLeft">Our Hotels</h1>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section id="job">
    <div class="job-wrapper">
        <div class="container">
            <div class="row">

                <p>

                    @{ Html.GoogleMap()
                                           .Name("map")
                                           .Width(880)
                                           .Height(600)
                                           .Center(c => c.UseCurrentPosition()
                   //this will be the Latitude if your map do not support
                   //geolocation or the client denies the location sharing
                   .Latitude(23d)
                   //this will be the Longitude if your map do not support
                   //geolocation or the client denies the location sharing
                   .Longitude(-82.3d)

                   )




                  .Zoom(2)
                   .BindTo<HotelViewModel, Marker>
                                       (Model, mappings => mappings.For<HotelViewModel>
                                               (
                                                   binding => binding.ItemDataBound
                                                   (
                                                       (circle, obj) =>
                                                       {
                                                           circle.Longitude = obj.lon;
                                                           circle.Latitude = obj.lat;
                                                           circle.Clickable = true;
                                                           circle.Title = obj.name;
                                                           circle.Window = new InfoWindow(circle)
                                                           {
                                                               Template =
                       {
                                    Content = () => ViewContext.Writer.Write(obj.name+":"+obj.star+" stars")

                      }
                                                           };

                                                       }
                                          )
                                      )
                              )


                                            .BindTo<HotelViewModel, Circle>
                                           (Model, mappings => mappings.For<HotelViewModel>
                                                   (
                                                       binding => binding.ItemDataBound
                                                       (
                                                           (circle, obj) =>
                                                           {
                                                               circle.Center = new Location(obj.lat, obj.lon);
                                                               circle.Radius = (int)obj.star * 10000;
                                                               circle.FillColor = System.Drawing.Color.Gold;
                                                               circle.StrokeWeight = 1;
                                                               circle.StrokeOpacity = 0.2;
                                                               circle.ZIndex = 2;

                                                           }
                                                       )
                                                   )
                                           ).Render();}

                    <section id="footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="copy-right-text text-center">
                                        &copy; TTMA Copyright 2015
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
