@model Web.Models.HotelViewModel

@{
    ViewBag.Title = "Details";
    
}

<h2>Details</h2>

<div>
    <h4>HotelViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

       

        <dt>
            @Html.DisplayNameFor(model => model.roomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.star)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.star)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoString)

        </dt>

        <dd>
            <img src="@Model.PhotoString" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Show position in map with your location", "Marker", new { id = Model.id })
</p>
<p>
    @Html.ActionLink("Show position in map without your location", "MarkerWithoutLoc", new { id = Model.id })
</p>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
